.meetmasoom-nav .navIconsParent {
	visibility: hidden;
}
@media (max-width: 600px) {
	.meetMasoomHeroText {
		font-size: 2.4rem;
	}
}
@media (max-width: 475px) {
	.meetMasoomHeroText {
		font-size: 1.8rem;
	}
}
