@media (max-width: 420px) {
	.product-colors-row > span,
	.product-sizes-row > span {
		display: block;
		margin-bottom: 0.25rem;
	}
	.product-colors-row,
	.product-sizes-row {
		flex-direction: column !important;
		align-items: flex-start !important;
		gap: 0.25rem !important;
	}
	.product-options-row {
		display: flex !important;
		flex-direction: row !important;
		flex-wrap: wrap;
		gap: 0.25rem !important;
	}
}
