.magnifier-container {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.magnifier-glass {
	position: absolute;
	pointer-events: none; /* cursor can pass through */
	width: 150px; /* glass size */
	height: 150px;
	border-radius: 50%;
	border: 2px solid #aaa;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	background-color: white;
	background-clip: content-box;
}
