@media (max-width: 870px) {
	.categoryDropdownDiv {
		display: none;
	}
	.searchInputDiv {
		width: 60%;
	}
}
@media (max-width: 650px) {
	.searchInputDiv {
		width: 40%;
	}
}
@media (max-width: 920px) {
	.nav .linksList {
		display: none;
	}
	.nav .menuIcon {
		display: flex;
	}
}
@media (max-width: 500px) {
	.navIconsParent {
		gap: 5px;
	}
	.nav .loginButton {
		margin-left: 16px;
	}
	.nav .logoWraper {
		gap: 2px;
	}
	.nav {
		padding-inline: 8px;
	}
}

@media (max-width: 380px) {
	.nav .webLogotext {
		display: none;
	}
}
