.todayForYouCard .title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5;
}

@media (max-width: 540px) {
	.today-for-you {
		padding: 2rem 1.5rem;
	}
  .today-for-you .heading{
    font-size: 2rem;
  }
}
