@media (max-width: 870px) {
	.noOneBrand {
		display: none;
	}
	.topBar .links {
		justify-content: space-between;
		width: 100%;
	}
}
@media (max-width: 650px) {
	.topBar {
		padding: 1px 6px;
	}
	.topBar .noOneBrandCenter {
		display: flex;
	}
  .topBar .links{
    gap: 8px;
  }
	.topBar .links ul {
		display: none;
	}
	.topBar .menuIcon {
		display: block;
	}
}
