@import 'tailwindcss';

@theme {
	/* Colors */
	--color-ivory: #faf8f6;
	--color-softRose: #f7e4e1;
	--color-muted: #888888;
	--color-textPrimary: #2b2b2b;
	--color-faded: rgba(0, 0, 0, 0.6);

	/* Box Shadows */
	--shadow-card: 0 2px 8px rgba(0, 0, 0, 0.05);
	--shadow-input: 0 1px 3px rgba(0, 0, 0, 0.08);
	--shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.1);
}
html,
body {
	scroll-behavior: smooth;
}
body {
	width: 100%;
	/* height: 100vh; */
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	/* background-color: rgb(244, 244, 244); */
	/* overflow-x: hidden !important; */
	/* height:fit-content;
	overflow-y: hidden; */
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1440px;
	width: 100%;
	/* background-color: yellow; */
}
